/*
TEMPLATE CRIADO POR MINN, NÃO RETIRE OS CRÉDITOS.
     https://minn-graphics.tumblr.com/  
*/

#minnsecretsign .mssbg {
  width: 200px;
  height: 90px;
  margin-right: -5px;
}

#minnsecretsign .msstitle {
  width: 200px;
  height: 20px;
  background-color: #aaa;
  font: italic bold 18px Crimson Text;
  color: #151515;
  text-transform: lowercase;
  text-align: right;
}

#minnsecretsign .mssextra {
  width: 180px;
  height: 60px;
  padding: 10px;
  font: 7px Outfit;
  color: #808080;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-align: justify;
  text-transform: uppercase;
}

#minnsecretsign .mssimg {
  width: 100px;
  height: 70px;
  background: center/cover;
  border-left: 20px solid #aaa;  
  border-bottom: 20px solid #aaa;
  border-radius: 0px 15px 0px 15px;
}

#minnsecretsign:after {
  display: block;
  content: "MINN";
  font: bold 8px/22px Arial;
  color: #aaaaaa80;
}

#minnsecretsign:hover:after {
  content: "MINN-GRAPHICS";
}