/*
TEMPLATE CRIADO POR MINN, NÃO RETIRE OS CRÉDITOS.
     https://minn-graphics.tumblr.com/  
*/

#minnsecretpost b {
  background-color: #C4C4C4!important;
  color: #151515!important;
}

#minnsecretpost .mspbg {
  width: 500px;
  padding: 25px;
}

#minnsecretpost .mspbgdesc {
  width: 480px;
}

#minnsecretpost .mspdesc {
  width: 435px;
  padding: 5px;
  font: 8px Outfit;
  color: #808080;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-align: justify;
  text-transform: uppercase;
}

#minnsecretpost .msptitle {
  width: 500px;
  height: 25px;
  background-color: #aaa;
  font: italic bold 20px Crimson Text;
  color: #151515;
  text-transform: lowercase;
  text-align: right;
}

#minnsecretpost .mssimg {
  width: 80px;
  height: 80px;
  background: center/cover;
  float: left;
  margin-right: 10px;
  margin-bottom: 3px;
  background-clip: padding-box;  
  border-right: 15px solid #2A2A2A;
  border-bottom: 15px solid #2A2A2A;
  border-radius: 15px 0px 15px 0px;
}

#minnsecretpost .mspbgpost {
  width: 490px;
  padding: 10px;
}

#minnsecretpost .msptxt {
  width: 460px;
  padding: 10px;
  font: 13px Calibri;
  color: #757575;
  text-align: justify;
  word-spacing: 1px;
  line-height: 130%;
}

#minnsecretpost:after {
  display: block;
  content: "MINN";
  font: bold 8px/22px Arial;
  color: #aaaaaa80;
}

#minnsecretpost:hover:after {
  content: "MINN-GRAPHICS";
}